@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');

html, body, label {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}


.blue-accent {
  background-color: #0369a1;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: transparent
}

::-webkit-scrollbar-thumb {
  background: #0369a1;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0369a1;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #0369a1;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: #0369a1;
  cursor: pointer;
}